
     body, html
       {
           font-family: Lato;
            height: 100%;
           
       }
       #footer {
            flex-shrink: none;
             background-color: purple;

        }

        .auth
        {
             text-align: center;
             box-shadow: 5px 5px 2px purple;
        }

        .login
        {
         box-shadow: 5px 5px 2px purple;

        }

        h5
        {

          font-weight: bold;
        }