
     body, html
       {
           font-family: Lato;
            height: 100%;
           
       }
       #footer {
            flex-shrink: none;
             background-color: purple;

        }