
     body, html
       {
           font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            height: 100%;
            display: flex;
            min-height: 100vh;
            flex-direction: column;
           
       }
      
        main {
          flex: 1 0 auto;
        }
       #footer {
            flex-shrink: none;
             background-color: purple;

        }

        .auth
        {
             text-align: center;
             box-shadow: 5px 5px 2px purple;
        }

        .login
        {
         box-shadow: 5px 5px 2px purple;

        }

        h5
        {

          font-weight: bold;
        }